<% @content_for_title = h(@item.title) -%>
	<h2><%= link_to @category.formatted_name, edit_admin_category_path(@category) %>: <%=h @item.title %></h2>
<%= render :partial => 'form' %>
	<p class="button"><%= link_to "Discard changes?", edit_admin_category_path(@category), :class=> 'cancel', :confirm => "Discard changes?" %></p>