		<ul class="subnav">
			<li<% if params[:category] == "pizzas" %> class="current"<% end %>><a href="/menu/pizzas/classics">Pizzas</a> /</li>
			<li<% if params[:category] == "calzones" %> class="current"<% end %>><a href="/menu/calzones">Calzones</a> /</li>
			<li<% if params[:category] == "garlic-fingers" %> class="current"<% end %>><a href="/menu/garlic-fingers">Garlic Fingers</a> /</li>
			<li<% if params[:category] == "nachos" %> class="current"<% end %>><a href="/menu/nachos">Nachos</a> /</li>
			<li<% if params[:category] == "wings" %> class="current"<% end %>><a href="/menu/wings">Wings</a> /</li>
			<li<% if params[:category] == "donairs" %> class="current"<% end %>><a href="/menu/donairs">Donairs</a> /</li>
			<li<% if params[:category] == "salads" %> class="current"<% end %>><a href="/menu/salads">Salads</a> /</li>
			<li<% if params[:category] == "wraps" %> class="current"<% end %>><a href="/menu/wraps">Wraps</a></li>
		</ul><!-- // subnav -->