<% @content_for_title = "Sharper look. Smarter menu." -%>
<div id="content">
	<h2><span>Sharper look.</span> Smarter menu.</h2>
	<div class="sidebar">
		<img src="/images/sidebar/menu-index-<%= rand(4)+1 %>.jpg" class="flush" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<ul class="menu">
			<li><a href="/menu/pizzas/classics">Classic Pizzas</a></li>
			<li><a href="/menu/pizzas/gourmet">Gourmet Pizzas</a></li>
			<li><a href="/menu/pizzas/smart">Calorie Smart Pizzas</a></li>
			<li><a href="/menu/pizzas/personal">Make it Personal</a></li>
			<li><a href="/menu/pizzas/gluten">Gluten Free Pizza</a></li>
			<li><a href="/menu/calzones">Calzones</a></li>
			<li><a href="/menu/garlic-fingers">Garlic Fingers</a></li>
			<li><a href="/menu/nachos">Nachos</a></li>
			<li><a href="/menu/wings">Wings</a></li>
			<li><a href="/menu/donairs">Donairs</a></li>
			<li><a href="/menu/wraps">Wraps</a></li>
			<li><a href="/menu/salads">Salads<span class="only">*</span></a></li>
		</ul>
		<p>That’s just part of what we’ve been cooking up at the new Pizzatown. At every location, you’ll now find all sorts of healthier choices on our expanded menu.</p>
		<p>Join us as we celebrate a fresher approach to eating smart and discover once again why Fresh Taste Lives Here.</p>
		<p><a href="/pdfs/pizzatown-menu.pdf" class="pdf" onclick="javascript: pageTracker._trackPageview('/pdfs/pizzatown-menu.pdf');">Download a print-friendly PDF menu</a></p>
		<p class="only">*Available at our Burnside location only.</p>
	</div><!-- // main -->
</div><!-- // content -->