		<ul class="subnav">
			<li<% if params[:action] == "menu" %> class="current"<% end %>><a href="/catering/menu">Catering Menu</a> /</li>
			<li<% if params[:action] == "info" %> class="current"<% end %>><a href="/catering/info">Catering Info</a></li>
		</ul><!-- // subnav -->