<% @content_for_title = "Offers" -%>
<div id="content">
	<ul class="offers">
		<li>
			<img src="/images/offers/09aug-offers.jpg" width="800" alt="">
		</li>
		<li>
<%= render :partial => 'layouts/newsletter' %>
		</li>
	</ul><!-- // offers -->
	
</div><!-- // content -->