<% @content_for_title = "Fresh jobs lives here." -%>
<div id="content">
	<h2><span>Fresh jobs</span> live here.</h2>
	<div class="sidebar">
		<img src="/images/sidebar/about-jobs.jpg" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<p>Pizzatown values the hard work and commitment of every employee at every location. As part of our team, you’re a key ingredient in our success, which is why we strive to keep all staff members fulfilled—through exciting incentives, flexible hours and competitive wages.</p>
		<h3>Thanks! We'll be in touch.</h3>
	</div><!-- // main -->
</div><!-- // content -->