<% @content_for_title = "Healthy communities." -%>
<div id="content">
	<h2><span>Healthy</span> communities.</h2>
	<div class="sidebar">
		<img src="/images/sidebar/about-community.jpg" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<p>Our dedication to the areas we serve is a major priority in our success. It’s why, since the beginning, Pizzatown has taken great pride in being part of the community. In fact, our emphasis on local involvement has led to a number of initiatives over the years, including:</p>
		<ul>
			<li>Sponsorship for youth and adult sports teams</li>
			<li>Fundraising and other charitable donations</li>
			<li>Contributions to volunteers and relief efforts</li>
		</ul>
		<p>Simply put, this is our way of giving back to customers, friends and neighbors that have given us so much over the years.</p>
		<p>If you’d like Pizzatown to consider your group or charity, we’d love to hear from you. Please drop off a written sponsorship request at any Pizzatown location or <a href="/about/contact">contact us</a> for more information. Together we’ll keep our communities healthy and strong.</p>
	</div><!-- // main -->
</div><!-- // content -->