<% @content_for_title = "Here’s how you can reach us." -%>
<div id="content">
	<h2><span>Here’s how you can</span> reach us.</h2>
	<div class="sidebar comments">
		<h3>Thanks for your feedback!</h3>
		<img src="/images/sidebar/about-contact.jpg" class="flush" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<dl>
			<dt>Order by phone</dt>
				<dd><strong>Call 450-0000</strong> for all locations</dd>
			<dt>General</dt>
				<dd>Pizzatown Limited / Head Office</dd>
				<dd>Suite 7, 2 Lakeside Park Drive</dd>
				<dd>Lakeside, Nova Scotia Canada B3T 1L7</dd>
				<dd>Fax: 902-876-8955 / Email: <a href="mailto:info@pizzatown.ca">info@pizzatown.ca</a></dd>
			<dt>Customer Comments</dt>
				<dd>Pizzatown Limited / Director Customer Relations</dd>
				<dd>Suite 7, 2 Lakeside Park Drive</dd>
				<dd>Lakeside, Nova Scotia Canada B3T 1L7</dd>
				<dd>Fax: 902-876-8955 / Email: <a href="mailto:comments@pizzatown.ca">comments@pizzatown.ca</a></dd>
			<dt>Employment</dt>
				<dd>Pizzatown Limited / Director Human Resources</dd>
				<dd>Suite 7, 2 Lakeside Park Drive</dd>
				<dd>Lakeside, Nova Scotia Canada B3T 1L7</dd>
				<dd>Fax: 902-876-8955 / Email: <%= link_to 'Apply Online', :action => 'careers' %></dd>
			<dt>Donations and Sponsors</dt>
				<dd>All requests must be submitted in writing to:</dd>
				<dd>Pizzatown Limited / Director Community Relations</dd>
				<dd>Suite 7, 2 Lakeside Park Drive</dd>
				<dd>Lakeside, Nova Scotia Canada B3T 1L7</dd>
				<dd>Fax: 902-876-8955 / Email: <a href="mailto:community@pizzatown.ca">community@pizzatown.ca</a></dd>
			<dt>Franchising</dt>
				<dd>Pizzatown Limited / Franchising</dd>
				<dd>Suite 7, 2 Lakeside Park Drive</dd>
				<dd>Lakeside, Nova Scotia Canada B3T 1L7</dd>
				<dd>Local: 902-221-TOWN (8696)</dd>
				<dd>Toll Free: 1-877-877-8804</dd>
				<dd>Email: <a href="mailto:franchising@pizzatown.ca">franchising@pizzatown.ca</a></dd>
			<dt><a href="/locations">Contact a Branch</a></dt>
		</dl>
	</div><!-- // main -->
</div><!-- // content -->