<% @content_for_title = "Franchise opportunities." -%>
<div id="content">
	<h2><span>Franchise</span> Opportunities.</h2>
	<div class="sidebar">
		<span class="slideshow"><img src="/images/sidebar/about-franchising-3.jpg" alt="" /></span>
	</div><!-- // sidebar -->
	<div class="main">
	<p>Pizzatown is currently developing our new Franchise Program, so please check back often. In the meantime, if you have an interest in becoming a Pizzatown franchisee we invite you to contact us to discover more about the successful franchise opportunities available now throughout Atlantic Canada.</p>
	<h4>Contact:</h4>
	<p>Pizzatown Limited / Franchising<br />Suite 7, 2 Lakeside Park Drive<br />Lakeside, Nova Scotia Canada B3T 1L7<br />Local: 902-221-TOWN (8696)<br/>Toll Free: 1-877-877-8804<br />Email: <a href="mailto:franchising@pizzatown.ca">franchising@pizzatown.ca</a></p>
	<h4>Now available:</h4>
	<ul>
		<li>Truro</li>
		<li>New Glasgow</li>
		<li>Antigonish</li>
		<li>New Minas</li>
		<li>Bedford Commons</li>
	</ul>
	</div><!-- // main -->
</div><!-- // content -->

<%= javascript_include_tag "jquery-1.2.6.min.js" %>
<%= javascript_include_tag "slideshow.js" %>