<% @content_for_title = "Gift Cards" -%>
<div id="content">
	<h2><span>Pizzatown</span> Gift Cards.</h2>
	<div class="sidebar">
		<img src="/images/offers/gift-card.jpg" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<h3>A Gift That's Always in Good Taste</h3>
		<p>Pizzatown gift cards are an easy and convenient way to celebrate good times, great taste and healthier eating. They are simple to give, easy to use and always appreciated. They have no expiry date; no administrative or hidden fees. Now available at participating Pizzatown locations.</p>
	</div><!-- // main -->
</div><!-- // content -->