<% @content_for_title = "High standards for quality and taste." -%>
<div id="content">
	<h2><span>High standards for</span> quality&amp;taste.</h2>
	<div class="sidebar">
		<img src="/images/sidebar/about-history.jpg" alt="" />
	</div><!-- // sidebar -->
	<div class="main">
		<p>In 1990, Rob Toulany opened the first Pizzatown in Timberlea, Nova Scotia. His high standards for quality and taste—using only premium-grade cheeses, veggies and meats—quickly established Pizzatown as the place to go for food both delicious and nutritious. This reputation helped the franchise expand to its current 7 locations throughout the Halifax-Dartmouth region.</p>
		<p>Today, Pizzatown continues to celebrate good times, great taste and healthier eating. Behind the counters of our clean, modern and newly redesigned locations, you’ll find friendly, well-trained staff members who care—not only about happy customers but about serving only the finest ingredients in the most health-conscious manner.</p>
		<p>It’s a promise that extends to our new look and menu as well. For starters, our deep fryer is gone, and every appetizer is now oven-baked! We’ve also improved our donair wraps, which are prepared in a safer way with the highest quality, lean ground beef—without the rotisserie cone. Add to this an expanded offering of Gluten FREE Menu, delicious oven roasted Jumbo Wings, gourmet and Calorie Smart pizzas, and you’ve got a seemingly endless number of reasons why Fresh Taste Lives Here, at the new Pizzatown!</p>
	</div><!-- // main -->
</div><!-- // content -->