<% @content_for_title = "Privacy Policy." -%>
<div id="content">
	<h2><span>Pizzatown</span> Privacy Policy.</h2>
	<div class="sidebar">
		&nbsp;
	</div><!-- // sidebar -->
	<div class="main">
		<p>We are committed to providing our visitors with a web site that respects their privacy. This page summarizes the Pizzatown privacy policy and practices for the web site.</p>
		<p>We do not automatically gather any personal information from you, such as your name, phone number, e-mail or address. This information is only obtained if you supply it voluntarily, usually through contacting us via e-mail, or providing feedback on various pages of the site.</p>
		<p>Any personal information you do provide is protected under the federal Privacy Act. This means that, at the point of collection, you will be informed that your personal information is being collected, the purpose for which it is being collected and that you have a right of access to the information.</p>
		<p>We use software that receives and records the Internet Protocol (IP) address of the computer that has contacted our Web site. We make no attempt to link these addresses with the identity of individuals visiting our site.</p>
		<p>We do not regularly use "cookies" to track how our visitors use the site. We may however enable "cookies" to facilitate your transactions.</p>
		<p>Visitor information is not disclosed to anyone except Pizzatown Limited office personnel who need the information, e.g., to respond to a request.</p>
		<p>For questions or comments regarding this policy or for additional information about the administration of the Privacy Act at Pizzatown, you can <a href="/about/contact">contact us</a>.</p>
	</div><!-- // main -->
</div><!-- // content -->