

<div id="callouts">
<% if @callout and @callout.image -%>
	<div class="callout"><a href="<%= @callout.url %>"><img src="<%= @callout.image %>" alt="<%=h @callout.alt %>" width="350" height="180" /></a></div>
<% end -%>
	<p>Call 450-0000</p>
	<img src="/images/logo-round-pizzatown.jpg" alt="Pizzatown" id="logo" />
</div><!-- // callouts -->